
.main {
    padding: 1.5em;
    width: 70%;
    box-sizing: border-box;
    position: relative;
}
.main .cartItems{
    box-sizing: border-box;
    padding-left: 0;
    max-height: 18em;
    overflow: auto;
    margin-bottom: 1em;
}
.top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 1em;
    box-sizing: border-box;
}
.title {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    box-sizing: border-box;
}
.title li{
    list-style: none;
    padding-right: 0;
    box-sizing: border-box;
    position: relative;
}

.title ul{
    display: flex;
    box-sizing: border-box;
    width: 50%;
    justify-content: space-between;
}